<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="aggressiveLazyLoading" value="false"/>
<!--        默认开启二级缓存 -->
<!--        <setting name="cacheEnabled" value="false"/>-->
    </settings>



    <typeAliases>
        <package name="com.zyc.simple.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler
                javaType="zyc.mybatis.simple.type.Enabled"
                handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </typeHandlers>


<!--    <plugins>-->
<!--        <plugin interceptor="zyc.mybatis.simple.plugin.PageInterceptor">-->
<!--            <property name="dialect" value="zyc.mybatis.simple.plugin.MySqlDialect"/>-->
<!--        </plugin>-->
<!--        &lt;!&ndash; <plugin interceptor="tk.mybatis.simple.plugin.CameHumpInterceptor"/> &ndash;&gt;-->
<!--    </plugins>-->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="zyc.mybatis.simple.mapper"/>
    </mappers>
</configuration>
